#logo {
  width: 7vw;
  min-width: 48px;
  max-width: 120px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 48%));
  align-items: stretch;
  
  img {
    width: 100%;
  }
}

video {  
  width: 100%;
}