@use 'variables' as vars;

// REBOOT

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: vars.$bg;
    font-family: vars.$font-sans-serif;
    font-size: vars.$text-xl;
}

ul {
    list-style: none;
}

// ELEMENTS

.badge {
    padding: calc(vars.$base-space / 2) vars.$base-space;
    background-color: rgba(vars.$white, 0.3);
    border-radius: vars.$rounded-radius;
    font-size: vars.$base-size;
    font-family: vars.$font-mono;
}

.card {
    display: flex;
    flex-direction: column;
    gap: calc(vars.$base-size / 2);
    width: 100%;
    padding: calc(vars.$base-space * 2);
    border-radius: vars.$border-radius;
    background-color: vars.$white;
}

// BASICS

.serif {
    font-family: vars.$font-serif;    
}

.mono {
    font-family: vars.$font-mono;
}

.text-md {font-size: vars.$base-size;}

.text-xl { font-size: vars.$text-xl; }

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-self-end {
    justify-self: end;
}

.items-center {
    align-items: center;
}

@for $i from 1 to vars.$columns {
    .grid-#{$i} {
        display: grid;
        grid-template-columns: repeat($i, 1fr);
        gap: calc(vars.$base-space * 2);
    }
}

@for $i from 1 to vars.$gaps {
    .gap-#{$i} {
        gap: calc(vars.$base-space * $i);
    }
}

@each $type, $size in vars.$headers {
    #{$type},
    .#{$type} {
        font-size: $size;
        line-height: 1.1;        
    }
}

@each $name, $color in vars.$theme {
    .bg-#{$name} {
        background-color: $color;
    }

    .text-#{$name} {
        color: $color;
    }

    .border-#{$name} {
        border: 2px solid $color;
    }
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid vars.$gray1;
}

// UNIVERSAL SCREEN SIZE

main {
    display: grid;
    gap: calc(vars.$base-space * 6);
    // padding: calc(vars.$base-space * 4) calc(vars.$base-space * 8);
    padding: 5vw;

    img {
        width: 100%;
    }
}