@use 'variables' as vars;

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(vars.$base-space * 2);
    width: 100vw;
    height: 60px;
    padding: 0 5vw;
    background-color: rgba(vars.$bg, 0.85);
    backdrop-filter: blur(10px);
    z-index: 10;
    border-bottom: 1px solid vars.$gray1;

    >div {
        display: flex;
        align-items: center;
        gap: vars.$base-space;
        height: inherit;
        cursor: pointer;
        
        img {
            width: auto;
            height: 100%;
            padding: vars.$base-space 0;
        }
    }

    ul{
        padding: vars.$base-space 0;
        display: flex;
        gap: calc(vars.$base-space * 2);
        align-items: center;
    }
}